.app-header {
    background-color: #181733;
    color: white;

}
.app-header::after{
    display: block;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    height: .4rem;
    background: linear-gradient(90deg,#154284 0,#cd122d);
}


.app-header nav {
    float: left;
}

.content {
    height: 70vh;
    margin-top: 5vh;
}

.chat-content {
    height: 100%;
}

.chat-list-container {
    padding: 25px 15px;
    height: 100%;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}

.message-container {
    height: 100%;
}